.social-sharing {
    display: grid;
    grid-template-columns: 100px 100px;

}
.facebook {
    fill: rgb(255, 255, 255); width: 32px; height: 32px;
}

.twitter {
    fill: rgb(255, 255, 255); width: 32px; height: 32px;
}
.twitter-box {
    background-color: rgb(29, 161, 242);
}

.facebook-box {
    background-color: rgb(59, 89, 152); 
   
}

.sharing-box {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 5px;
}